<div class="container">
  <p-checkbox
    [(ngModel)]="isCompleted"
    [binary]="true"
    [inputId]="inputId"
    (onChange)="onChange($event)"
  ></p-checkbox>
  <div class="main">
    <div [ngClass]="{ completed: isCompleted }">{{ title }}</div>
    <div class="date">
      <i class="pi pi-calendar"></i>
      <span>{{ date | date : "dd/MM/yyyy" }}</span>
      <i class="pi pi-pencil edit" (click)="onEditCard()"></i>
      <i class="pi pi-trash delete" (click)="onDelete()"></i>
    </div>
  </div>
</div>
