.container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px 20px;
  .main {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }
  .date {
    display: flex;
    align-items: baseline;
    gap: 10px;
    font-size: 14px;
    color: #88929b;
    .edit {
      cursor: pointer;
      margin: 0px 5px;
    }
    .delete {
      cursor: pointer;
      margin: 0px 5px;
    }
  }
}
.completed {
  text-decoration: line-through;
}
