.container {
  width: 60vw;
  height: 60vh;
  padding: 10px;
}
.top {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.cards {
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
