<div class="container">
  <div class="top">
    <p-button
      label="Create New task"
      icon="pi pi-plus"
      (click)="create()"
    ></p-button>
    <app-search (searchEvent)="onSearch($event)"></app-search>
  </div>
  <div class="cards">
    <app-create-task
      *ngIf="isNewTask"
      (createEvent)="onSaveNewTask($event)"
      (deleteEvent)="onDelete($event)"
    ></app-create-task>
    <app-card
      *ngFor="let card of cards | searchFilter : searchText"
      [title]="card.title"
      [date]="card.date"
      [inputId]="card._id"
      [isCompleted]="card.isCompleted"
      (deleteEvent)="deleteTodo($event)"
    ></app-card>
  </div>
</div>
