<div class="container">
  <div class="top">
    <p-button
      label="Create New task"
      icon="pi pi-plus"
      (click)="create()"
    ></p-button>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Search Your Tasks"
        [(ngModel)]="value"
      />
    </span>
  </div>
  <div class="cards">
    <app-create-task
      *ngIf="isNewTask"
      (createEvent)="onSaveNewTask($event)"
      (deleteEvent)="onDelete($event)"
    ></app-create-task>
    <app-card
      *ngFor="let card of cards"
      [title]="card.title"
      [date]="card.date"
      [inputId]="card._id"
      [isCompleted]="card.isCompleted"
    ></app-card>
  </div>
</div>
