.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: white;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
