<div class="container">
  <div class="header">
    <div id="todo">
      <span>T</span><span>o</span><span>-</span><span>D</span><span>o</span>
    </div>
    <div id="sign-up">Create a TO-DO Account</div>
    <div>Enter your details</div>
  </div>
  <!-- <form [formGroup]="profile"> -->
  <input
    type="text"
    class="item"
    pInputText
    placeholder="Enter Your Email"
    [(ngModel)]="name"
  />

  <input
    type="text"
    class="item"
    pInputText
    placeholder="Enter Your Email"
    [(ngModel)]="email"
  />
  <input
    type="text"
    class="item"
    pInputText
    placeholder="Enter Your Password"
    [(ngModel)]="password"
  />
  <!-- </form> -->
  <div class="item footer">
    <div class="create-account" (click)="signin()">Sign in</div>
    <p-button label="Submit" (click)="onSubmit()"></p-button>
  </div>
</div>
